@model GummyBearKingdom.Models.Product

<html>
<head>
    <title>Update</title>
</head>
<body>
    <h2>Edit</h2>
    <hr />
    <h4>Edit this product: @Html.DisplayFor(model => model.Name)</h4>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.ProductId)

        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)

        @Html.LabelFor(model => model.Cost)
        @Html.EditorFor(model => model.Cost)

        <lable>Country </lable>
        @Html.EditorFor(model => model.Name)

        <label>Image</label>
        @Html.EditorFor(model => model.Image)

        <input type="submit" value="Save" />
    }
    <p>@Html.ActionLink("Product List", "Index")</p>

</body>
</html>